body {}

.site {
    border: 4px solid orange;
    box-sizing: border-box;

    &-header,
    &-content,
    &-footer {
        border: 2px solid white;
        box-sizing: border-box;
    }

    &-header {
        &-top {
    
            &-space {
                border: 2px solid green; 
                box-sizing: border-box;
            }
            &-content {
                border: 2px solid black;
                box-sizing: border-box;

                nav {
                    border: 2px solid red;
                    box-sizing: border-box;
                }
            }
        }
        &-middle,
        &-bottom {
        
            &-container {
                border: 2px solid black;  
                box-sizing: border-box;
            }
            &-content {}
        }
    }

    &-main {
        &-container {
            border: 2px solid black;  
            box-sizing: border-box;
        }
        &-content {}
    }

    &-footer {
        &-container {
            border: 2px solid black;
            box-sizing: border-box;   
        }
        &-content {}
    }

}
