body {
    background-color: blue;
    color: white;
}

.site {
    border: 4px solid orange;
    box-sizing: border-box;

    &-header,
    &-content,
    &-footer {
        border: 2px solid white;
        box-sizing: border-box;
    }

    &-header {
        &-top {
    
            .space {
                border: 2px solid yellow; 
            }
            .content {
                border: 2px solid black;
            }
        }
        &-middle,
        &-bottom {
        
            &-container {
                border: 2px solid black;  
            }
            &-content {}
        }
    }

    &-main {
        &-container {
            border: 2px solid black;  
        }
        &-content {}
    }

    &-footer {
        &-container {
            border: 2px solid black;   
        }
        &-content {}
    }

}
