.site-header {
    border-top: 6px solid #1e2126;

    &-top {
        display: flex;
        justify-content: space-around;

        &-space {
            flex-basis: auto;
            flex-grow: 1;
        }
        &-content {
            display: flex;
            flex-basis: 1265px;
            justify-content: flex-end;
        }
    }

    &-middle,
    &-bottom {
    
        &-container {
            margin: 0 auto;
            width: 1265px;    
        }
        &-content {}
    }

    &-bottom {
        &-content {
            display: flex;
            justify-content: space-between;
        }
    }
}

@import 'header-top';
